/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --text-color:#ffffff;
    --background-color:#000000;
    --primary-button:#9d34da;
    --secondary-button:#1a1a1a;
    --disabled-primary-button:hsl(278, 15%, 50%);
    --disabled-secondary-button:#333333;
    --accent:#bd73e8;
    --active-link:#8b17cf;
}

body{
    background-color: var(--background-color);
    color:var(--text-color);
    font-family: 'Roboto', sans-serif;
}